<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <b style="font-size: -webkit-xxx-large;
   color: purple;"> Welcome to {{ title }}!</b>
  </h1>
</div>
<ul>
</ul>


<router-outlet>
  <!--  <h1>
        <a href="http://localhost:4200/MaterialDemoComponent">MaterialDemoComponent!</a><br>
        <a href="http://localhost:4200/ArrayComponent">ArrayComponent!</a><br>
        <a href="http://localhost:4200/StringComponent">StringComponent!</a><br>
    </h1> -->
</router-outlet>